<center>
<h1>Wellcome to Manga Univer World</h1>
<p>The Mangas</p>

<%= image_tag "http://img14.deviantart.net/7961/i/2014/163/9/d/one_piece___portgas_d_ace_by_nickleon5-d7m55md.png", style: "max-width: 500px" %>
</center>